<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <!--网站头像-->
        <link rel="shortcut icon" href="assets/image/light.ico" type="image/vnd.microsoft.icon">
        <link rel="icon" href="assets/image/light.ico" type="image/vnd.microsoft.icon">
        <!--自定义文件-->
        <link rel="stylesheet" href="../assets/css/spacing.css" media="screen"/>
        <title>dalei</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8 top-margin-large">
                    {{content}}
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </body>
</html>

